@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
p{
    font-size: 16px;
    color: #CC7C6A;
    margin: 15px 0 20px 0;
}
body{
    width: 100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 80px;
    background-color:black;
    height: 50px;
    border-bottom: 3px solid greenyellow;
    position:sticky;
    top: 0;
    left: 0;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#navbar li{
    list-style: none;
    padding: 0px 20px;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:cadetblue;
}
#navbar li a:hover{
    color:ghostwhite;
}
#body1{
    background-image: url(/img/logo1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#body1 h1{
    padding: 15px;
    color:blueviolet;
}
#body2{
    background-image: url(/img/2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0px 80px;

}
#body3{
    background-image: url(/img/3.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0px 80px;

}
#body4{
    background-image: url(/img/1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0px 80px;

}
#body5{
    background-image: url(/img/4.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0px 80px;
    
}