@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
p{
    font-size: 16px;
    color:azure;
    margin: 15px 0 20px 0;
}
body{
    width: 100%;
    background-color: black;
    color: cadetblue;
}
#header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 80px;
    background-color:black;
    height: 50px;
    border-bottom: 3px solid greenyellow;
    position:sticky;
    top: 0;
    left: 0;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#navbar li{
    list-style: none;
    padding: 0px 20px;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:cadetblue;
}
#navbar li a:hover{
    color:ghostwhite;
}
#body1{
    background-image: url(/img/logo1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#body1 h1{
    padding: 15px;
    color:#39FF14;
    font-size: 35px;
}
#body2{
    background-image: url(/img/2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#body2 h2{
    padding: 20px;
    color: floralwhite;
    font-size: 35px;
}
#body2 a{
    text-decoration: none;
    padding: 0px 20px;
    color: floralwhite;
    font-size: 20px;
}
#body2 a:hover{
    text-decoration: underline;
}
#body3{
    background-image: url(/img/3.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#body5{
    background-image: url(/img/4.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    
}
.section-p1{
    padding: 40px 80px;
}
#peri .box{
    width: 400px;
    text-align: center;
    padding: 25px 15px;
}
#peri .container{
    display: flex;
    justify-content: space-between;
}
#body3 h1{
    padding: 20px;
    font-size: 35px;
    color: floralwhite;
}
#body3 a{
    text-decoration: none;
    font-size: 20px;
    color: floralwhite;
}
#body3 a:hover{
    text-decoration:underline;
}

#btn{
    border: none;
    color: white;
    background-color:blueviolet;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
#cart{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid cadetblue;
    margin: 10% 0% 25% 25%;
}
#cart h1{
    font-size: 35px;
    color: azure;
    padding: 10px;
}
